textarea {
  --tw-bg-opacity: 1;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 1em;
  background-color: white;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 40px;
}
.area-comments {
  margin-top: 3rem;
}
.comment {
  display: flex;
  align-items: center;
  gap: .7rem;
  border-bottom: 1px solid;
  --tw-border-opacity: 1;
  border-color: rgb(206 206 205 / var(--tw-border-opacity));
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}
.comment-data {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.comment span {
  --tw-text-opacity: 1;
  margin-top: 0.2rem;
  color: rgb(147 146 144 / var(--tw-text-opacity));
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1rem;
  margin-bottom: .5rem;
}
.comment > p {
  font-size: 0.875rem;
  letter-spacing: -0.2px;
  line-height: 1.25rem;
  background-color: white;
  padding-left: 0;
  margin: 0;
}
.content-comment {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  gap: 0.5rem;
}

.content-logo-user {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2rem;
  height: 2rem;
  background-color: #024d40;
  border-radius: 50%;
}
.content-logo-user span {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.comment-textarea {
  width: 100%;
  border: 1px solid;
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgb(206 206 205 / var(--tw-border-opacity));
}
.comment-textarea > form {
  width: 100%;
}

#commentForm {
  display: flex;
  padding: 0.3rem;
}

#commentForm > button {
  --tw-text-opacity: 1;
  color: rgb(255 153 51 / var(--tw-text-opacity));
  padding-right: 1rem;
  cursor: pointer;
  background-color: initial;
  background-image: none;
}
